.site-content {
    box-sizing: border-box;
    margin: 1.125rem auto;
    max-width: 73.125rem;
}

.right-sidebar {
    .content-area {
        float: left;
        width: 68.376068376068376%;
    }

    .widget-area {
        float: right;
        width: 30.085470085470085%;
    }
}