@media screen and ( min-width: 1025px ) {
	.site-header {
		background: color( black );
	
		.branding-navigation {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 1.25rem;
	
			.site-branding {
				.site-title,
				.site-description {
					margin: 0;
					padding: 0;
				}
	
				.site-title {
					float: left;
					font-size: 2rem;
					padding: 0.5rem;
	
					a {
						border-bottom: none;
						color: color( white );
						text-decoration: none;
					}
				}
	
				.site-description {
                    color: color( white );
					float: left;
					padding: 1.125rem;
				}
			}
		}
	}
}