.site-content:before, .site-content:after,
.right-sidebar:before,
.right-sidebar:after {
  clear: both;
  content: "";
  display: table;
}

body {
  background: #eeeeee;
  font-family: var(--font-family-primary, "Merriweather", serif);
  margin: 0;
}

u {
  border-bottom: 0.125rem solid #000000;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

h1 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.67em 0;
}

h2 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 2rem;
  font-weight: 700;
  margin: 0.83em 0;
}

h3 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1em 0;
}

h4 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1.33em 0;
}

h5 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1.67em 0;
}

h6 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1rem;
  font-weight: 700;
  margin: 2.33em 0;
}

body {
  font-family: var(--font-family-primary, "Merriweather", serif);
  margin: 0;
}

@media screen and (min-width: 1025px) {
  .site-header {
    background: #000000;
  }
  .site-header .branding-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25rem;
  }
  .site-header .branding-navigation .site-branding .site-title,
.site-header .branding-navigation .site-branding .site-description {
    margin: 0;
    padding: 0;
  }
  .site-header .branding-navigation .site-branding .site-title {
    float: left;
    font-size: 2rem;
    padding: 0.5rem;
  }
  .site-header .branding-navigation .site-branding .site-title a {
    border-bottom: none;
    color: #ffffff;
    text-decoration: none;
  }
  .site-header .branding-navigation .site-branding .site-description {
    color: #ffffff;
    float: left;
    padding: 1.125rem;
  }
}
.site-content {
  box-sizing: border-box;
  margin: 1.125rem auto;
  max-width: 73.125rem;
}

.right-sidebar .content-area {
  float: left;
  width: 68.3760683761%;
}
.right-sidebar .widget-area {
  float: right;
  width: 30.0854700855%;
}

.home .cover {
  background: url("../../../../../public/images/custom-image.jpg");
  padding: 4.4rem 0;
}
.home .cover .entry-header {
  color: #ffffff;
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}
.home .cover .entry-header .entry-title {
  font-size: 3.125rem;
  margin: 0;
  padding: 0;
}
.home .cover .entry-header .entry-description {
  line-height: 1.8rem;
}

.single .cover {
  background: url("../../../../../public/images/custom-image.jpg");
  padding: 8rem 0;
}
.single .cover .entry-header {
  color: #ffffff;
  margin: 0 auto;
  max-width: 700px;
  text-align: left;
}
.single .cover .entry-header .entry-date {
  font-family: var(--font-family-date, "Tangerine", cursive);
  font-size: 2.125rem;
}
.single .cover .entry-header .entry-title {
  font-size: 3.125rem;
  margin: 0;
  padding: 0;
}
.single .cover .entry-header .entry-description {
  line-height: 1.8rem;
}

.site-footer {
  background: #000000;
  padding: 1.125rem;
}
.site-footer .site-info {
  color: #ffffff;
  text-align: center;
}
.site-footer .site-info .credit {
  font-style: italic;
}

.home .content-area {
  line-height: 1.8rem;
}
.home .content-area .single {
  background: #ffffff;
  border: 0.063rem solid #cccccc;
  padding: 1.125rem;
}
.home .content-area .single .entry-date {
  font-family: var(--font-family-date, "Tangerine", cursive);
  font-size: 2.125rem;
}
.home .content-area .single .entry-header .entry-title {
  margin: 0;
  padding: 0;
}

.single .content-area {
  line-height: 1.8rem;
}
.single .content-area .single {
  background: #ffffff;
  border: 0.063rem solid #cccccc;
  padding: 1.125rem;
}
.single .content-area .single .heading-permalink {
  display: none;
}
.single .content-area .single .entry-header .entry-title {
  margin: 0;
  padding: 0;
}
.single .content-area .single ul p {
  margin: 0;
}
.single .content-area .single .block-gallery-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  grid-gap: 1.125rem;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1025px) {
  .menu-primary {
    background: transparent;
    padding: 0.5rem;
  }
  .menu-primary .menu-toggle {
    display: none;
  }
  .menu-primary .menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  .menu-primary .menu-items .menu-item {
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  .menu-primary .menu-items .menu-item a {
    border-bottom: none;
    color: #ffffff;
    text-decoration: none;
  }
  .menu-primary .menu-items .menu-item a.active {
    border-bottom: 0.125rem solid #000000;
    color: #000000;
  }
}
.home .widget-area .widget {
  background: #ffffff;
  border: 0.063rem solid #cccccc;
  padding: 1.125rem;
}
.home .widget-area .widget .widget-title {
  margin: 0;
  padding: 0;
}

.single .widget-area .widget {
  background: #ffffff;
  border: 0.063rem solid #cccccc;
  padding: 1.125rem;
}
.single .widget-area .widget .widget-title {
  margin: 0;
  padding: 0;
}
