.single {
    .cover {
        background: url( '../../../../../public/images/custom-image.jpg' );
        padding: 7rem;

        .entry-header {
            color: color( white );
            margin: 0 auto;
            max-width: 700px;
            text-align: left;

            .entry-date {
                font-family: font-family( 'date' );
                font-size: 2.125rem;;
            }
    
            .entry-title {
                font-size: 3.125rem;
                margin: 0;
                padding: 0;
            }
    
            .entry-description {
                line-height: 1.8rem;
            }
        }
    }
}