.single {
    .widget-area {
        .widget {
            background: color( white );
            border: 0.063rem solid #cccccc;
            padding: 1.125rem;

            .widget-title {
                margin: 0;
                padding: 0;
            }
        }
    }
}